In [1]:
import pandas as pd
import numpy as np

In [2]:
! gunzip -S /Users/juansantateresagomez/Desktop/small_DS_exercises/juan/DS_review_exercises/archive-1.zip

gunzip: incorrect suffix: '/Users/juansantateresagomez/Desktop/small_DS_exercises/juan/DS_review_exercises/archive-1.zip': too long

In [3]:
file_ub = '/Users/juansantateresagomez/Desktop/small_DS_exercises/juan/DS_review_exercises/ab_data.csv'
df = pd.read_csv(file_ub)

In [4]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
conv_rates = df.groupby('group').mean()
conv_rates

                 user_id  converted
group
control    788123.098035   0.120399
treatment  787825.226283   0.118920

In [6]:
num_control = df[df['group'] == 'control']['converted'].sum()
total_control = len(df[df['group'] == 'control'])

In [7]:
num_treat = df[df['group'] == 'treatment']['converted'].sum()
total_treat = len(df[df['group'] == 'treatment'])

In [9]:
from statsmodels.stats.proportion import proportions_ztest

In [10]:
count = np.array([num_treat, num_control]) 
nobs = np.array([total_treat, total_control])

In [11]:
stats, pval = proportions_ztest(count, nobs, alternative = 'larger')

In [12]:
pval

0.8919419336512124