In [2]:
import pandas as pd
import numpy as np

In [6]:
path = '/Users/juansantateresagomez/Desktop/small_DS_exercises/juan/DS_review_exercises/laptops.csv'
laptops = pd.read_csv(path, encoding = 'windows-1250')

In [7]:
laptops.head()

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

Mean price for each group (per company)

In [22]:
price_mean = laptops.groupby('Company')['Price_euros'].mean()

NameError: name 'Index' is not defined

In [48]:
price_mean_df['Company'] = price_mean_df.index

In [49]:
price_mean_df

             Company  Price_euros
Company
Acer            Acer   626.775825
Apple          Apple  1564.198571
Asus            Asus  1104.169367
Chuwi          Chuwi   314.296667
Dell            Dell  1186.068990
Fujitsu      Fujitsu   729.000000
Google        Google  1677.666667
HP                HP  1067.774854
Huawei        Huawei  1424.000000
LG                LG  2099.000000
Lenovo        Lenovo  1086.384444
MSI              MSI  1728.908148
Mediacom    Mediacom   295.000000
Microsoft  Microsoft  1612.308333
Razer          Razer  3346.142857
Samsung      Samsung  1413.444444
Toshiba      Toshiba  1267.812500
Vero            Vero   217.425000
Xiaomi        Xiaomi  1133.462500

In [53]:
Asus = price_mean_df[price_mean_df['Company'] == 'Asus']

In [54]:
Toshiba = price_mean_df[price_mean_df['Company'] == 'Toshiba']

In [64]:
Asus = Asus.reset_index(drop= True)
Toshiba = Toshiba.reset_index(drop=True)

   Company  Price_euros
0  Toshiba    1267.8125

In [70]:
Asus = Asus['Price_euros']
Toshiba = Toshiba['Price_euros']

KeyError: 'Price_euros'

In [69]:
Toshiba

   Company  Price_euros
0  Toshiba    1267.8125

In [76]:
Toshiba = laptops[laptops['Company'] == 'Toshiba']['Price_euros']
Asus = laptops[laptops['Company'] == 'Asus']['Price_euros']

In [77]:
Toshiba

143      602.0
159      447.0
173      489.0
183      793.0
222     1363.0
274      812.0
307     1043.0
331      943.0
354     1403.0
406     1747.0
479     1672.0
491     2799.0
531      860.0
576     1865.0
606     1399.0
648     1213.0
655     1064.0
665      498.0
668     1258.0
694      973.0
698     1877.0
742     1535.0
772     1020.0
782     1764.0
806      780.0
821     1090.0
825      499.0
837      669.0
862     1285.0
866     1095.0
872     1388.0
895     1475.0
923     1975.0
934     1105.0
943     1119.0
952     1460.0
960     1535.0
963     1790.0
973     1180.0
981     1195.0
984      915.0
1004    1195.0
1015    1210.0
1018    1490.0
1021    1590.0
1037    1725.0
1042    1425.0
1118    2226.0
Name: Price_euros, dtype: float64

In [78]:
from scipy.stats import ttest_ind
tstat, pval = ttest_ind(Asus, Toshiba)

In [79]:
pval

0.13270245021401456